<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Template Project Angular</title>
    <meta charset="UTF-8">
    <script src="scripts/vendors.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<body>
<div ng-controller="myController">
    <h1>rootScopeController</h1>
    <p>rootScope: {{site}}</p>
    <!--changes in site will be done on controller level(myController level) rootScope not global rootScope object-->
    <p>rootScope(ng-model): <input type="text" ng-model="site"/></p>
    <p>welcome from scope: {{welcome}}</p>
    <p>welcome from scope(ng-model): <input type="text" ng-model="welcome"/></p>
    <p>scope: {{name}}</p>
</div>

<div ng-controller="testController">
    <h1>ScopeController</h1>
    <p>rootScope: {{site}}</p>
    <!--changes in site will be done on controller level(testController level) rootScope not global rootScope object-->
    <p>rootScope(ng-model): <input type="text" ng-model="site"/></p>
    <p>welcome from scope: {{welcome}}</p>
    <p>name from rootScope: {{name}}</p>
</div>

<div>
    <h1>Outside from both Controller</h1>
    <p>name from rootScope: {{name}}</p>
    <p>site from rootScope: {{site}}</p>
</div>

</body>

</html>